@media screen and (max-width: 1080px) {
    /* Classes gerais */
    .flex {
        flex-direction: column;
        align-items: center;
    }

    h2.titulo {
        font-size: 28px;
        line-height: 27px;
    }

    .topo-site .flex {
        flex-direction: column-reverse;
    }

    /* Cabeçalho */
    .menu-desktop,
    .btn-cv {
        display: none;
    }

    /* Topo do site */
    section.topo-site {
        padding: 20px 8%;
    }

    .topo-site h1 {
        font-size: 30px;
    }

    .topo-site .img-topo-site img {
        width: 100%;
    }

    /* Especialidades */
    section.especialidades {
        padding: 40px 8%;
    }

    /* Sobre */
    section.sobre {
        padding: 40px 8%;
    }

    .sobre .txt-sobre h2 {
        font-size: 34px;
        line-height: 35px;
        text-align: center;
    }

    .btn-social {
        text-align: center;
    }

    .img-sobre img {
        width: 100%;
    }

    /* CV */
    section.cv {
        padding: 20px 8%;
    }

    .img-cv {
        width: 100%;
        margin: auto;
        margin-bottom: 20px;
    }

    .btn-download {
        width: 100%;
    }

    /* Portfólio */
    section.portfolio {
        padding: 40px 8%;
    }

    .filters {
        flex-wrap: wrap;
        justify-content: center;
    }

    .filter-button {
        flex: 1 1 45%;
        margin-bottom: 10px;
    }

    .projects-container {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    /* Techs */
    section.techs {
        padding: 40px 8%;
    }

    .techs-container {
        flex-direction: column;
        gap: 20px;
    }

    .techs-utilizadas, .techs-desenvolvendo {
        width: 100%;
    }

    /* Contatos */
    section.contato {
        padding: 40px 8%;
    }

    .contato-container {
        flex-direction: column;
        gap: 20px;
    }

    .contato-info, .contato-form {
        width: 100%;
    }

    .contato-form input, .contato-form textarea {
        width: 100%;
    }
}