@import url(patterns.css);

/* deslizando html*/
html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--fonte-primaria);
    margin: 0;
    padding: 0;
    background-color: var(--branco);
    color: #333;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: var(--branco);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
    padding: 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
    padding: 20px;
}

nav ul li a {
    text-decoration: none;
    color: var(--preto);
    font-weight: bold;
}

.inicial {
    display: flex;
    align-items: center; /* Alinha os ícones verticalmente */
    gap: 15px; /* Adiciona um espaço entre os ícones e o botão */
    margin-top: 20px; /* Adiciona um espaço acima dos ícones */
}

.inicial a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--preto);
    transition: transform 0.3s ease;
}

.inicial a:hover {
    transform: translateY(-3px); /* Efeito de levantar ao passar o mouse */
}

.inicial img {
    width: 24px; /* Tamanho dos ícones */
    height: 24px;
}


/* Hero Section */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    text-align: left;
}

.text-container {
    max-width: 50%;
    flex: 1;
}

.text-container h1 {
    font-size: 2.5em;
    color: var(--azul);
}

.text-container p {
    font-size: 1.2em;
    color: var(--preto);
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: var(--verde--azul);
    color: var(--branco);
    text-decoration: none;
    border-radius: 5px;
}

.image-container img {
    width: 400px;
    height: auto;
}


/* Footer */
footer {
    text-align: center;
    background: var(--branco);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
    margin-top: 50px;
}

footer img {
    margin: 0 10px;
    filter: contrast(200%);
    padding: 30px;
}